body {
  background-image: url("/50.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(15, 15, 15);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px white, inset 20px 0 60px magenta,
    inset 20px 0 60px cyan, inset 20px 0 300px magenta, inset -20px 0 300px cyan,
    0 0 50px white, -10px 0 60px magenta, 10px 0 60px cyan;

  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
